<?xml version="1.0" encoding="UTF-8"?> 
    <data>
    <h1 class="drinks">Напитки</h1>
<div id="drinksContainer"></div>
<button class="rectangle5"><a href="drinks.html">Перейти</a></button>
      <drink>
        <src>/americano.png</src>
        <price>5 byn</price>
      </drink>
      <drink>
        <src>/kapuchino.png</src>
        <price>5,5/6,5 byn</price>
      </drink>
      <drink>
        <src>/fresh.png</src>
        <price>7 byn</price>
      </drink>
      <h1 class="desserts">Десерты</h1>
<div id="dessertsContainer"></div>
<button class="rectangle6"><a href="desserts.html">Перейти</a></button>
      <dessert>
        <src>/mars.png</src>
        <price>Марс 24,99 byn кг</price>
      </dessert>
      <dessert>
        <src>/macarons.png</src>
        <price>Набор пирожных 12,99 byn 7шт.</price>
      </dessert>
      <dessert>
        <src>/3chocolate.png</src>
        <price>Три шоколада 3,49 byn 1шт.</price>
      </dessert>
    </data>